@import "../../../App.css";

.comments-container {
    min-height: 100vh;
    padding: 50px 20px;
    background-color: hsl(0, 0%, 8%);
}

.comments-container .title {
    color: var(--textColor);
    font-size: 20px;
    position: relative;
    left: 20px;
}

.container-section-comments {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.section-comments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}

.card-comments {
    width: 220px;
    height: 265px;
    border: #242424 1px solid;
    padding-top: 10px;
    padding-left: 11px;
    margin-bottom: 15px;
}

.card-comments .name {
    color: var(--textColor);
    font-size: 15px;
    position: relative;
    left: 16px;
}

.container-comment {
    padding-left: 8px;
    height: 180px;
}

.buttonDelete-comment {
    position: relative;
    bottom: 10px;
    left: 60px;
    color: rgb(255, 20, 20) !important;
}

.buttonEdit-comment{
    position: relative;
    bottom: 10px;
    right: 15px;
    color: blue !important;
}

.comment {
    color: #000 !important;
    background-color: #e6e6e6;
    width: 90%;
    padding: 8px;
    padding-top: none;
    font-size: 12px !important;
    word-wrap: break-word;
    border-radius: 20px;
    position: relative;
    bottom: 16px;
}

.comment span {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
    position: relative;
    left: 5px;
    cursor: pointer
}


.triangle-comment {
    z-index: 100;
    position: relative;
    bottom: 203px;
    left: 25px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #e6e6e6;
}

.starts-comment {
    font-size: 15px !important;
    position: relative;
    bottom: 20px;
    left: 15px;
}

.starts-comment .css-1c99szj-MuiRating-icon {
    color: #353535;
}

.starts-controller .css-1c99szj-MuiRating-icon {
    color: #353535;
}

.container-addComment {
    width: 300px;
    height: 32%;
    padding: 20px;
    border: #242424 1px solid;
}

.titleAddComment {
    font-size: 25px;
    color: var(--textColor);
}

.container-button-comment {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-comment {
    color: var(--mainColor) !important;
    border-color: var(--mainColor) !important;
}

.button-comment:hover {
    background-color: hsl(0, 0%, 8%) !important;
}


.button-comment:hover {
    background-color: var(--mainColor);
}


.fade{
    background-color: rgba(0, 0, 0, 0.500) !important;
}

.no-comments{
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 30px;
    color: #fff;
}

.button-comment-edit{
    background-color: var(--mainColor) !important;
}

.text-view-message-edit-comment {
    padding: 5px 10px 0px 10px;
    margin: 10px 0px 0px 55px;
    width: 250px;
    height: 55px;
    border: 1px solid var(--mainColor);
    border-radius: 10px;
    position: relative;
    left: 50px;
}

.text-view-message-edit-comment p {
    color: var(--mainColor);
    font-size: 13px;
    text-align: center;
}

@media (max-width: 1200px){
    .section-comments {
        width: 65%;
    }
}

@media (max-width: 1125px){
    .section-comments {
        width: 70%;
    }
}

@media (max-width: 1075px){
    .container-section-comments {
        justify-content: space-around;
    }
    .section-comments {
        width: 50%;
        justify-content: space-around;
        gap: 15px;
    }

    .no-comments{
        left: 25px;
    }
}

@media (max-width: 990px){
    .section-comments {
        width: 60%;
    }

    .no-comments{
        left: 10px;
    }
}

@media (max-width: 851px){
    .container-section-comments {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-right: 50px;
    }

    .container-addComment {
        width: 80%;
    }

    .section-comments {
        width: 100%;
    }

    .no-comments{
        left: 0px;
    }
}

@media (max-width: 800px){
    .section-comments {
        width: 70%;
    }
}

@media (max-width: 760px){
    .section-comments {
        width: 80%;
    }
}

@media (max-width: 680px){
    .section-comments {
        width: 90%;
    }  
}

@media (max-width: 615px){
    .container-section-comments {
        padding-right: 30px;
    }
    .section-comments {
        width: 100%;
    }  
}

@media (max-width: 575px){
    .text-view-message-edit-comment {
        left: 75px;
    }
}

@media (max-width: 545px){
    .container-section-comments {
        padding: 0;
    }

    .text-view-message-edit-comment {
        left: 65px;
    }
}

@media (max-width: 525px){
    .text-view-message-edit-comment {
        left: 50px;
    }
}

@media (max-width: 495px){

    .text-view-message-edit-comment {
        left: 35px;
    }

    .container-addComment {
        width: 100%;
    }

    .section-comments {
        margin-top: 50px;
    }

    .card-comments {
        padding-left: 18px;
        width: 70%;
        min-width: 220px;
        height: 230px;
    }

    .comment {
        padding-top: 15px;
        padding-left: 18px;
        max-height: 150px;
    }

    .buttonDelete-comment {
        left: 130px;
    }

    .buttonEdit-comment{
        left: 50px;
    }

    .no-comments{
        font-size: 25px;
    }
}

@media (max-width: 458px){
    .text-view-message-edit-comment {
        left: 20px;
    }

    .card-comments {
        height: 250px;
    }

    .comment {
        max-height: 170px;
    }

    .buttonDelete-comment {
        left: 100px;
    }

    .buttonEdit-comment{
        left: 20px;
    }
}

@media (max-width: 420px){

    .text-view-message-edit-comment {
        left: 0px;
    }

    .card-comments {
        width: 90%;
    }

    .card-comments {
        height: 240px;
    }

    .comment {
        max-height: 160px;
    }

    .buttonDelete-comment {
        left: 130px;
    }

    .buttonEdit-comment{
        left: 50px;
    }
}

@media (max-width: 380px){
    .text-view-message-edit-comment {
        left: -10px;
    }
}
@media (max-width: 365px){
    .text-view-message-edit-comment {
        left: -20px;
    }

    .card-comments {
        width: 100%;
    }

    .card-comments {
        height: 240px;
    }

    .comment {
        max-height: 160px;
    }
}

@media (max-width: 335px){
    .comments-container {
        padding: 50px 5px;
    }

    .card-comments {
        height: 240px;
    }

    .comment {
        max-height: 160px;
    }
}


