* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--mainColor: #B8860B;
	--mainColorLight: #5767aa;
	--darkColor:  #000000;
	--textColor: #fff;
}

.link{
    width: 100%;
}

.btn-close{
	background-color: #fff !important;
}

.swal2-title{
	border: none !important;
	margin: 20px 0 0 100px;
}